/*
 * 星座过滤器
 * @astrologyNum    星座
 */

module.exports = {
  format: function (astrologyNum) {
    switch (astrologyNum) {
      case 1:
        return '水瓶座'
      case 2:
        return '双鱼座'
      case 3:
        return '白羊座'
      case 4:
        return '金牛座'
      case 5:
        return '双子座'
      case 6:
        return '巨蟹座'
      case 7:
        return '狮子座'
      case 8:
        return '处女座'
      case 9:
        return '天秤座'
      case 10:
        return '天蝎座'
      case 11:
        return '射手座'
      case 12:
        return '摩羯座'
      default:
        return '未知'
    }
  },
  format2: function (astrologyNum) {
    if (astrologyNum && astrologyNum !== '') return astrologyNum
    return '未知'
  }
}
